.mainContainer{
    display: flex;
    justify-content: space-around;
    background-color: #20A162;
    position: absolute;
    z-index: -1;
}

#logoutBtn{
    display: flex;
    position: absolute;
    left: 1200px;
}

.birdPic{
    width: 300px;
    height: 300px;
    z-index: 1;
    position: absolute;
    box-sizing: border-box;
    top: -45px;
    left: -45px;
}
