.mainContainer{
    display: flex;
    justify-content: flex-end;
    background-color: #20A162;
    position: absolute;
    z-index: -1;
}

.birdPic{
    width: 300px;
    height: 300px;
    z-index: 1;
    position: absolute;
    box-sizing: border-box;
    top: -45px;
    left: -45px;
}
